/* VARIABLES */

$dark-blue: #171E2F;
$project-white: #F5F5F5;

$batatabit: #D68523;
$google-clone: #F5F5F5;
$platzi-video: #A860E0;
$blog: #96E8C5;

$project-font: 'Montserrat', sans-serif;



/* GLOBAL RULES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    min-width: 32rem;
    font-family: $project-font;
}



/* GENERIC CLASSES */

.section {
    position: relative;
    width: 100%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem 1rem 0.5rem 0rem rgba(0, 0, 0, 0.25) inset;
    z-index: -1;
}
.section-heading {
    font-size: 2.8rem;
    font-weight: 700;
}
.container {
    text-align: center;
}
.section-decoration {
    width: 17rem;
    height: 17rem;
    position: absolute;
    bottom: calc(100% - 4.5rem);
    border-radius: 25rem;
    background-color: $dark-blue;
    box-shadow: 0rem 1rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
}
@mixin icon ($width, $height, $url) {
    display: inline-block;
    width: $width;
    height: $height;
    background-image: url($url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* HEADER */

.header {
    position: static;
    box-shadow: none;
    background-color: $dark-blue;
    color: $project-white;

    &__nav {
        .hamburger-icon {
            @include icon (2rem, 2rem, "../assets/general/hamburger-icon.png");
        }
    }

    &__image-container {
        margin-bottom: 2.5rem;
        img {
            width: 75%;
        }
    }

    &__text-container {
        p {
            font-size: 1.8rem;
            margin-top: 2.5rem; 
        }
    }
}