/* VARIABLES */
/* GLOBAL RULES */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 32rem;
  font-family: "Montserrat", sans-serif;
}

/* GENERIC CLASSES */
.section {
  scroll-margin-top: -7.5rem;
  position: relative;
  width: 100%;
  padding: 9rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0rem 1rem 0.5rem 0rem rgba(0, 0, 0, 0.25) inset;
}

.section-heading {
  font-size: 2.8rem;
  font-weight: 700;
}

.center-content {
  text-align: center;
}

.section-decoration {
  width: 17rem;
  height: 17rem;
  position: absolute;
  bottom: calc(100% - 4.5rem);
  border-radius: 25rem;
  background-color: #171E2F;
  box-shadow: 0rem 1rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
}

.project-button {
  overflow: hidden;
  height: 1px;
  width: 1px;
  position: absolute;
  left: -10000px;
  padding: 0.6rem 0.8rem;
  background-color: #F5F5F5;
  color: #171E2F;
  border: 0.1rem solid #171E2F;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  border-radius: 2.5rem;
}
.project-button:focus {
  outline: 0.2rem solid #171E2F;
}

.arrow-icon {
  display: inline-block;
  width: 2rem;
  height: 1.6rem;
  background-image: url("../assets/general/icons/right-arrow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: -0.3rem;
  margin-bottom: -0.3rem;
}

/* HEADER */
.header {
  z-index: 3;
  padding-top: 4rem;
  box-shadow: none;
  background-color: #171E2F;
  color: #F5F5F5;
}
.header__nav {
  width: 100%;
  max-width: 120rem;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
  font-size: 1.85rem;
  font-weight: 600;
  text-align: end;
}
.header__nav label {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  /* HAMBURGER MENU */
  /* HAMBURGER ANIMATION */
}
.header__nav label .menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.header__nav label .menu-btn__burger {
  width: 2rem;
  height: 0.2rem;
  background-color: white;
  border-radius: 0.2rem;
  transition: all 300ms ease-in-out;
}
.header__nav label .menu-btn .menu-btn__burger::before, .header__nav label .menu-btn .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 0.2rem;
  background-color: white;
  border-radius: 0.5rem;
  transition: all 300ms ease-in-out;
}
.header__nav label .menu-btn .menu-btn__burger::before {
  transform: translate(-2rem, -0.65rem);
}
.header__nav label .menu-btn .menu-btn__burger::after {
  transform: translate(-2rem, 0.65rem);
}
.header__nav label .menu-btn.open .menu-btn__burger {
  background-color: transparent;
}
.header__nav label .menu-btn.open .menu-btn__burger::before {
  transform: translateX(-2rem) rotate(45deg);
}
.header__nav label .menu-btn.open .menu-btn__burger::after {
  transform: translateX(-2rem) rotate(-45deg);
}
.header__nav #toggle {
  display: none;
}
.header__nav #toggle:checked + .menu {
  visibility: visible;
  opacity: 1;
}
.header__nav .menu {
  opacity: 0;
  visibility: hidden;
  min-width: 28rem;
  position: absolute;
  left: calc(100% - 30rem);
  text-align: center;
  background-color: #171E2F;
  transition-duration: 300ms;
}
.header__nav .menu a {
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: #F5F5F5;
  border: 0.1rem solid #F5F5F5;
  transition-duration: 300ms;
}
.header__nav .menu a:hover,
.header__nav .menu a:focus {
  background-color: #F5F5F5;
  color: #171E2F;
  outline: none;
}
.header__image-container {
  margin-bottom: 2.5rem;
}
.header__image-container img {
  border-radius: 25rem;
  width: 75%;
}
.header__text-container p {
  font-size: 1.8rem;
  margin-top: 2.5rem;
}

/* ABOUT ME */
.about-me {
  z-index: 2;
  background-color: transparent;
}
.about-me__animation {
  position: absolute;
  z-index: -1;
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
}
.about-me__animation div {
  position: absolute;
  width: 6rem;
  height: 6rem;
  background-color: transparent;
  border: 0.3rem solid #171E2F;
  border-radius: 25rem;
}
.about-me__animation div:nth-child(1) {
  top: 32%;
  left: 12%;
  animation: bubbles 9s linear infinite;
}
.about-me__animation div:nth-child(2) {
  top: 57%;
  left: 70%;
  animation: bubbles 7s linear infinite;
}
.about-me__animation div:nth-child(3) {
  top: 57%;
  left: 16%;
  animation: bubbles 6s linear infinite;
}
.about-me__animation div:nth-child(4) {
  top: 56%;
  left: 78%;
  animation: bubbles 11s linear infinite;
}
.about-me__animation div:nth-child(5) {
  top: 55%;
  left: 25%;
  animation: bubbles 9s linear infinite;
}
.about-me__animation div:nth-child(6) {
  top: 32%;
  left: 75%;
  animation: bubbles 5s linear infinite;
}
.about-me__animation div:nth-child(7) {
  display: none;
}
.about-me__animation div:nth-child(8) {
  display: none;
}
.about-me__animation div:nth-child(9) {
  display: none;
}
.about-me__animation div:nth-child(10) {
  display: none;
}
.about-me__animation div:nth-child(11) {
  display: none;
}
.about-me__heading-container {
  margin-bottom: 2.5rem;
}
.about-me__image-container {
  margin-bottom: 2.5rem;
}
.about-me__image-container img {
  width: 14.5rem;
}
.about-me__text-container p {
  font-size: 1.85rem;
  margin-top: 2.5rem;
  max-width: 70rem;
}
.about-me__text-container :first-child {
  font-weight: 600;
}

@keyframes bubbles {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-9rem);
    opacity: 0;
  }
}
/* PROJECTS */
.projects {
  z-index: 1;
  background-color: #171E2F;
  color: #F5F5F5;
}
.projects .section-decoration {
  background-color: #F5F5F5;
}
.projects__grid-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-row-gap: 3.5rem;
  padding-top: 3.5rem;
  /* TRANSITIONS */
}
.projects__grid-container article {
  transition: all 550ms;
  width: 25rem;
  height: 18rem;
  padding-top: 0.7rem;
  padding-bottom: 1.1rem;
  border-radius: 2.5rem;
  font-family: "Source Sans Pro", sans-serif;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects__grid-container article h2 {
  display: none;
  font-size: 2.8rem;
}
.projects__grid-container .batata-bit {
  background-color: #e68f24;
}
.projects__grid-container .batata-bit h2 {
  margin-right: -3rem;
  user-select: none;
}
.projects__grid-container .batata-bit .batata-icon {
  display: inline-block;
  width: 7rem;
  height: 4.2rem;
  background-image: url("../assets/general/icons/batata.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.projects__grid-container .platzi-video {
  background-color: #A860E0;
}
.projects__grid-container .platzi-video h2 {
  margin-right: -4.1rem;
  user-select: none;
}
.projects__grid-container .platzi-video .platzi-icon {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  background-image: url("../assets/general/chico-logo-platzi-video-BW2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.projects__grid-container .generic-blog {
  background-color: #96E8C5;
}
.projects__grid-container .generic-blog h2 {
  margin-right: -4.5rem;
  user-select: none;
}
.projects__grid-container .generic-blog .blog-icon {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  background-image: url("../assets/general/blog-icon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F5F5F5;
  border-radius: 3.5rem;
}
.projects__grid-container .google-clone {
  background-color: #F5F5F5;
  color: #535358;
}
.projects__grid-container .google-clone h2 {
  margin-right: -4.1rem;
  user-select: none;
}
.projects__grid-container .google-clone .google-icon {
  display: inline-block;
  width: 7rem;
  height: 7.2rem;
  background-image: url("../assets/general/google-icon.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.projects__grid-container article:hover,
.projects__grid-container article:focus-within {
  opacity: 1;
  transform: scale(1.12);
  flex-direction: column;
  justify-content: space-between;
}
.projects__grid-container article:hover h2,
.projects__grid-container article:focus-within h2 {
  display: inline-block;
}
.projects__grid-container article:hover .project-button,
.projects__grid-container article:focus-within .project-button {
  position: static;
  height: auto;
  width: auto;
}
.projects__grid-container .batata-bit:hover,
.projects__grid-container .batata-bit:focus-within {
  background-image: url("../projects/batata-bit/assets/img/bitcoin-woman-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects__grid-container .batata-bit:hover .batata-icon,
.projects__grid-container .batata-bit:focus-within .batata-icon {
  width: 13%;
  height: 11.8%;
  transform: translate(-6.7rem, -6.5rem);
  transition: all 600ms;
}
.projects__grid-container .platzi-video:hover,
.projects__grid-container .platzi-video:focus-within {
  background-image: url("../projects/platzi-video/assets/platzi-thumbnail.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects__grid-container .platzi-video:hover .platzi-icon,
.projects__grid-container .platzi-video:focus-within .platzi-icon {
  width: 12%;
  height: 20%;
  transform: translate(-7.1rem, -6.5rem);
  transition: all 650ms;
}
.projects__grid-container .generic-blog:hover,
.projects__grid-container .generic-blog:focus-within {
  background-image: url("../projects/blog/assets/img/blog-cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects__grid-container .generic-blog:hover .blog-icon,
.projects__grid-container .generic-blog:focus-within .blog-icon {
  width: 13%;
  height: 20%;
  transform: translate(-7.7rem, -6.5rem);
  transition: all 700ms;
}
.projects__grid-container .google-clone:hover,
.projects__grid-container .google-clone:focus-within {
  background-image: url("../projects/google-clone/assets/google-thumbnail.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects__grid-container .google-clone:hover .google-icon,
.projects__grid-container .google-clone:focus-within .google-icon {
  width: 10%;
  height: 16.6%;
  transform: translate(-7.7rem, -6.5rem);
  transition: all 600ms;
}

/* CONTACT */
.contact {
  background-color: #F5F5F5;
  color: #171E2F;
  padding-bottom: 4rem;
}
.contact h1 {
  margin-bottom: 2.5rem;
}
.contact__image-container {
  width: 100%;
  margin-bottom: 2.5rem;
}
.contact__image-container img {
  border-radius: 25rem;
  width: 40%;
  min-width: 21rem;
  max-width: 30rem;
}
.contact__links-container {
  width: 80%;
  min-width: 28rem;
  max-width: 70rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-evenly;
}
.contact__links-container a {
  align-items: center;
  border-radius: 0.5rem;
  color: #171E2F;
  display: flex;
  width: 18rem;
  font-weight: 700;
  font-size: 1.5rem;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 200ms ease-in-out;
}
.contact__links-container a span {
  border-radius: 50%;
  margin-bottom: 0.8rem;
}
.contact__links-container a .linkedin-icon {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  background-image: url("../assets/general/linkedin_icon-large.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact__links-container a .github-icon {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  background-image: url("../assets/general/github_icon-large.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact__links-container a .mail-icon {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  background-image: url("../assets/general/mail_icon-large.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact__links-container a:hover span,
.contact__links-container a:focus span {
  background-color: #fffec7;
}
.contact p {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

/* TABLET MEDIA QUERIES */
@media only screen and (min-width: 600px) {
  /* HEADER - TABLET */
  .header__nav {
    display: flex;
    justify-content: center;
  }
  .header__nav #toggle:checked + .menu {
    visibility: visible;
    opacity: 1;
  }
  .header__nav .menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 80rem;
  }
  .header__nav .menu a {
    display: inline-block;
    border: none;
    border-radius: 0.5rem;
  }
  .header__nav label {
    display: none;
  }

  /* ABOUT-ME - TABLET*/
  .about-me__animation div:nth-child(7) {
    display: block;
    top: 40%;
    left: 62%;
    animation: bubbles 6s linear infinite;
  }
  .about-me__animation div:nth-child(8) {
    display: block;
    top: 32%;
    left: 21%;
    animation: bubbles 6s linear infinite;
  }
  .about-me__image-container img {
    width: 16rem;
  }

  /* PROJECTS - TABLET */
  .projects__grid-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3.5rem;
  }

  /* CONTACT */
  .contact__links-container a {
    font-size: 1.6rem;
  }
  .contact p {
    font-size: 1.6rem;
  }
}
/* DESKTOP MEDIA QUERIES */
@media only screen and (min-width: 900px) {
  /* HEADER - DESKTOP */
  .header__nav {
    justify-content: flex-end;
  }
  .header__nav .menu {
    justify-content: flex-end;
  }
  .header__nav .menu a {
    margin-left: 2rem;
  }

  /* ABOUT-ME - DESKTOP */
  .about-me__image-container img {
    width: 17.5rem;
  }

  /* PROJECTS - DESKTOP */
  .projects__grid-container {
    width: auto;
    grid-gap: 5rem;
    /* TRANSITIONS */
  }
  .projects__grid-container article {
    width: 30rem;
    height: 21rem;
  }
  .projects__grid-container .batata-bit:hover .batata-icon {
    transform: translate(-7rem, -7.8rem);
  }
  .projects__grid-container .platzi-video:hover .platzi-icon {
    transform: translate(-7.1rem, -7.8rem);
  }
  .projects__grid-container .generic-blog:hover .blog-icon {
    transform: translate(-8rem, -7.8rem);
  }
  .projects__grid-container .google-clone:hover .google-icon {
    transform: translate(-8.1rem, -7.8rem);
  }
}
@media only screen and (min-width: 1100px) {
  /* ABOUT-ME - DESKTOP__LARGE */
  .about-me__animation div:nth-child(9) {
    display: block;
    top: 63%;
    left: 37%;
    animation: bubbles 5.5s linear infinite;
  }
  .about-me__animation div:nth-child(10) {
    display: block;
    top: 37%;
    left: 33%;
    animation: bubbles 4.5s linear infinite;
  }
  .about-me__animation div:nth-child(11) {
    display: block;
    top: 61%;
    left: 60%;
    animation: bubbles 8s linear infinite;
  }
  .about-me__image-container img {
    width: 19.5rem;
  }

  /* PROJECTS - DESKTOP__LARGE */
  .projects__grid-container {
    grid-gap: 6rem;
    /* TRANSITIONS */
  }
  .projects__grid-container article {
    width: 35rem;
    height: 23rem;
  }
  .projects__grid-container .batata-bit:hover .batata-icon {
    transform: translate(-7.6rem, -8.8rem);
    height: 12.8%;
  }
  .projects__grid-container .platzi-video:hover .platzi-icon {
    transform: translate(-7.6rem, -8.8rem);
  }
  .projects__grid-container .generic-blog:hover .blog-icon {
    transform: translate(-8.6rem, -8.8rem);
    height: 22%;
  }
  .projects__grid-container .google-clone:hover .google-icon {
    transform: translate(-8.6rem, -8.8rem);
  }
}

/*# sourceMappingURL=style.css.map */
