/* VARIABLES */

$dark-blue: #171E2F;
$portfolio-white: #F5F5F5;

$batatabit: #e68f24;
$google-clone: #F5F5F5;
$platzi-video: #A860E0;
$blog: #96E8C5;

$main-font: 'Montserrat', sans-serif;
$projects-font: 'Source Sans Pro', sans-serif;



/* GLOBAL RULES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    min-width: 32rem;
    font-family: $main-font;
}



/* GENERIC CLASSES */

.section {
    position: relative;
    width: 100%;
    padding: 9rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem 1rem 0.5rem 0rem rgba(0, 0, 0, 0.25) inset;
}
.section-heading {
    font-size: 2.8rem;
    font-weight: 700;
}
.center-content {
    text-align: center;
}
.section-decoration {
    width: 17rem;
    height: 17rem;
    position: absolute;
    bottom: calc(100% - 4.5rem);
    border-radius: 25rem;
    background-color: $dark-blue;
    box-shadow: 0rem 1rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
}
@mixin icon ($width, $height, $url) {
    display: inline-block;
    width: $width;
    height: $height;
    background-image: url($url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.project-button {
    display: none;
    background-color: $portfolio-white;
    color: $dark-blue;
    border: 0.1rem solid $dark-blue;
    font-size: 1.4rem;
    padding: 0.6rem 0.8rem;
    text-align: center;
    text-decoration: none;
    border-radius: 2.5rem;
}
.arrow-icon {
    @include icon(2rem, 1.6rem, "../assets/general/icons/right-arrow.svg");
        margin-right: -0.3rem;
        margin-bottom: -0.3rem;
}
@mixin project-hover ($url) {
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin project-icon-hover ($width, $height, $x, $y, $transition-duration) {
    width: $width;
    height: $height;
    transform: translate($x, $y);
    transition: all $transition-duration;
}


/* HEADER */

.header {
    z-index: 3;
    padding-top: 4rem;
    box-shadow: none;
    background-color: $dark-blue;
    color: $portfolio-white;

    &__nav {
        width: 100%;
        max-width: 120rem;
        margin-top: -1rem;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        text-align: end;

        label {
            cursor: pointer;
            -webkit-tap-highlight-color:  rgba(0, 0, 0, 0);
            display: inline-block;
            font-size: 2.2rem;
            margin-bottom: 1rem;

            /* HAMBURGER MENU */
            
            .menu-btn {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2rem;
                height: 2rem;
                cursor: pointer;
                transition: all 300ms ease-in-out;

                &__burger {
                    width: 2rem;
                    height: 0.2rem;
                    background-color: white;
                    border-radius: 0.2rem;
                    transition: all 300ms ease-in-out;
                }
                .menu-btn__burger::before, .menu-btn__burger::after {
                    content: "";
                    position: absolute;
                    width: 2rem;
                    height: 0.2rem;
                    background-color: white;
                    border-radius: 0.5rem;
                    transition: all 300ms ease-in-out;
                }
                .menu-btn__burger::before {
                    transform: translate(-2rem, -0.65rem); 
                }
                .menu-btn__burger::after {
                    transform: translate(-2rem, 0.65rem);  
                }
            }

            /* HAMBURGER ANIMATION */

            .menu-btn.open {
                .menu-btn__burger {
                    background-color: transparent;
                }
                .menu-btn__burger::before {
                    transform: translateX(-2rem) rotate(45deg);
                }
                .menu-btn__burger::after {
                    transform: translateX(-2rem) rotate(-45deg);
                }
            }
        }
        
        #toggle {
            display: none;
        }
        #toggle:checked + .menu {
            visibility: visible;
            opacity: 1;
        }
        .menu {
            opacity: 0;
            visibility: hidden;
            min-width: 28rem;
            position: absolute;
            left: calc(100% - 30rem);
            text-align: center;
            background-color: $dark-blue;
            transition-duration: 300ms;
            a {
                padding: 1rem;
                display: block;
                text-decoration: none;
                color: $portfolio-white;
                border: 0.1rem solid $portfolio-white;
                transition-duration: 300ms;
            }
            a:hover {
                background-color: $portfolio-white;
                color: $dark-blue;
            }
        }
    }

    &__image-container {
        margin-bottom: 2.5rem;
        img {
            border-radius: 25rem;
            width: 75%;
        }
    }

    &__text-container {
        p {
            font-size: 1.8rem;
            margin-top: 2.5rem; 
        }
    }
}



/* ABOUT ME */

.about-me {
    z-index: 2;
    background-color: $portfolio-white;

    &__animation {
        width: 100%;
        height: 100%;
        position: absolute;
        div {
            position: absolute;
            width: 6rem;
            height: 6rem;
            background-color: transparent;
            border: 0.3rem solid $dark-blue;
            border-radius: 25rem;
        }
        div:nth-child(1) {
            top: 40%;
            left: 12%;
            animation: bubbles 10s linear infinite;
        }
        div:nth-child(2) {
            top: 57%;
            left: 70%;
            animation: bubbles 7s linear infinite;
        }
        div:nth-child(3) {
            top: 32%;
            left: 6%;
            animation: bubbles 6s linear infinite;
        }
        div:nth-child(4) {
            top: 40%;
            left: 77%;
            animation: bubbles 6s linear infinite;
        }
        div:nth-child(5) {
            top: 57%;
            left: 10%;
            animation: bubbles 6s linear infinite;
        }
        div:nth-child(6) {
            top: 56%;
            left: 78%;
            animation: bubbles 11s linear infinite;
        }
        div:nth-child(7) {
            top: 55%;
            left: 25%;
            animation: bubbles 9s linear infinite;
        }
        div:nth-child(8) {
            top: 32%;
            left: 75%;
            animation: bubbles 5s linear infinite;
        }
        div:nth-child(9) {
            display: none;
        }
        div:nth-child(10) {
            display: none;
        }
        div:nth-child(11) {
            display: none;
        }
    }

    &__heading-container {
        margin-bottom: 2.5rem;
    }
    
    &__image-container {
        margin-bottom: 2.5rem;
        img {
            width: 14.5rem;
        }
    }

    &__text-container {
        p {
            font-size: 1.6rem;
            margin-top: 2.5rem;
            max-width: 70rem;
        } 
    }
    &__text-container :first-child {
        font-weight: 600;
    }
}

@keyframes bubbles {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.3) translateY(-9rem);
        opacity: 0;
    }
}



/* PROJECTS */

.projects {
    z-index: 1;
    background-color: $dark-blue;
    color: $portfolio-white;

    .section-decoration {
        background-color: $portfolio-white;
    }

    &__grid-container {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-row-gap: 3.5rem;
        padding-top: 3.5rem;

        article {
            transition: all 550ms;
            width: 25rem;
            height: 18rem;
            padding-top: 0.7rem;
            padding-bottom: 1.1rem;
            border-radius: 2.5rem;
            font-family: $projects-font;
            opacity: 0.8;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
                display: none;
                font-size: 2.8rem;
            }
        }
        .batata-bit {
            background-color: $batatabit;
            h2 {
                margin-right: -3rem;
                user-select: none;
            }
            .batata-icon {
                @include icon(7rem, 4.2rem, "../assets/general/icons/batata.svg");
            }
        }
        .platzi-video {
            background-color: $platzi-video;
            h2 {
                margin-right: -4.1rem;
                user-select: none;
            }
            .platzi-icon {
                @include icon(7rem, 7rem, "../assets/general/chico-logo-platzi-video-BW2.png");
            }
        }
        .generic-blog {
            background-color: $blog;
            h2 {
                margin-right: -4.5rem;
                user-select: none;
            }
            .blog-icon {
                @include icon(7rem, 7rem, "../assets/general/blog-icon.png");
                background-color: $portfolio-white;
                border-radius: 3.5rem;
            }
        }
        .google-clone {
            background-color: $google-clone;
            color: #535358;
            h2 {
                margin-right: -4.1rem;
                user-select: none;
            }
            .google-icon {
                @include icon(7rem, 7.2rem, "../assets/general/google-icon.svg");
            }
        }

        /* TRANSITIONS */

        article:hover {
            opacity: 1;
            transform: scale(1.12);
            flex-direction: column;
            justify-content: space-between;
        }
        article:hover h2, article:hover a {
            display: inline-block;
        }

        .batata-bit:hover {
            @include project-hover ("../projects/batata-bit/assets/img/bitcoin-woman-min.jpg");
            .batata-icon {
                @include project-icon-hover (13%, 11.8%, -6.7rem, -6.5rem, 600ms);
            }
        }

        
        .platzi-video:hover {
            @include project-hover ("../projects/platzi-video/assets/platzi-thumbnail.jpg");
            .platzi-icon {
                @include project-icon-hover (12%, 20%, -7.1rem, -6.5rem, 650ms);
            }
        }


        .generic-blog:hover {
            @include project-hover ("../projects/blog/assets/img/blog-cover.jpg");
            .blog-icon {
                @include project-icon-hover (13%, 20%, -7.7rem, -6.5rem, 700ms);
            }
        }


        .google-clone:hover {
            @include project-hover ("../projects/google-clone/assets/google-thumbnail.jpg");
            .google-icon {
                @include project-icon-hover (10%, 16.6%, -7.7rem, -6.5rem, 600ms);
            }
        }
    }
}



/* CONTACT */

.contact {
    background-color: $portfolio-white;
    color: $dark-blue;
    padding-bottom: 4rem;

    h1 {
        margin-bottom: 2.5rem;
    }

    &__image-container {
        width: 100%;
        margin-bottom: 2.5rem;
        img {
            border-radius: 25rem;
            width: 40%;
            min-width: 21rem;
            max-width: 30rem;
        }
    }

    &__links-container {
        width: 80%;
        min-width: 28rem;
        max-width: 70rem;
        margin-bottom: 6rem;
        display: flex;
        justify-content: space-evenly;
        a {
            border-radius: 5rem;
            height: 8rem;
            text-decoration: none;
            transition: background-color 200ms;
            .linkedin-icon {
                @include icon(8rem, 8rem, "../assets/general/linkedin_icon-large.png");
            }
            .github-icon {
                @include icon(8rem, 8rem, "../assets/general/github_icon-large.png");
            }
            .mail-icon {
                @include icon(8rem, 8rem, "../assets/general/mail_icon-large.png");
            }
        }
        a:hover {
            background-color: rgb(255, 254, 199);
        }
    }
    p {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 3rem;
    }
}



/* TABLET MEDIA QUERIES */

@media only screen and (min-width: 600px) {

    /* HEADER - TABLET */

    .header {
        &__nav {
            display: flex;
            justify-content: center;
            #toggle:checked + .menu {
                visibility: visible;
                opacity: 1;
            }
            .menu {
                visibility: visible;
                opacity: 1;
                position: static;
                display: flex;
                justify-content: space-around;
                margin-bottom: 1rem;
                width: 100%;
                max-width: 80rem;
                a {
                    display: inline-block;
                    border: none;
                    border-radius: 0.5rem;
                }
            }
            label {
                display: none;
            }
        }
    }


    /* ABOUT-ME - TABLET*/

    .about-me {
        &__image-container {
            img {
                width: 16rem;
            }
        }    
    }


    /* PROJECTS - TABLET */

    .projects {
        &__grid-container {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 3.5rem;
        }
    }
}



/* DESKTOP MEDIA QUERIES */

@media only screen and (min-width: 900px) {

    /* HEADER - DESKTOP */

    .header {
        &__nav {
            justify-content: flex-end;
            .menu {
                justify-content: flex-end;
                a {
                    margin-left: 2rem;
                }
            }
        }
    }


    /* ABOUT-ME - DESKTOP */

    .about-me {
        &__image-container {
            img {
                width: 17.5rem;
            }
        }    
    }


    /* PROJECTS - DESKTOP */

    .projects {
        &__grid-container {
            width: auto;
            grid-gap: 5rem;
            article {
                width: 30rem;
                height: 21rem;
            }

            /* TRANSITIONS */

            .batata-bit:hover {
                .batata-icon {
                    transform: translate(-7rem, -7.8rem);
                }
            }
            .platzi-video:hover {
                .platzi-icon {
                    transform: translate(-7.1rem, -7.8rem);
                }
            }
            .generic-blog:hover {
                .blog-icon {
                    transform: translate(-8rem, -7.8rem);
                }
            }
            .google-clone:hover {
                .google-icon {
                    transform: translate(-8.1rem, -7.8rem);
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) {

    /* ABOUT-ME - DESKTOP__LARGE */

    .about-me {
        &__animation {
            div:nth-child(9) {
                display: block;
                top: 63%;
                left: 37%;
                animation: bubbles 5.5s linear infinite;
            }
            div:nth-child(10) {
                display: block;
                top: 37%;
                left: 33%;
                animation: bubbles 4.5s linear infinite;       
            }
            div:nth-child(11) {
                display: block;
                top: 61%;
                left: 60%;
                animation: bubbles 8s linear infinite;       
            }
        }

        &__image-container {
            img {
                width: 19.5rem;
            }
        }    
    }


    /* PROJECTS - DESKTOP__LARGE */

    .projects {
        &__grid-container {
            grid-gap: 6rem;
            article {
                width: 35rem;
                height: 23rem;
            }

            /* TRANSITIONS */

            .batata-bit:hover {
                .batata-icon {
                    transform: translate(-7.6rem, -8.8rem);
                    height: 12.8%;
                }
            }
            .platzi-video:hover {
                .platzi-icon {
                    transform: translate(-7.6rem, -8.8rem);
                }
            }
            .generic-blog:hover {
                .blog-icon {
                    transform: translate(-8.6rem, -8.8rem);
                    height: 22%;
                }
            }
            .google-clone:hover {
                .google-icon {
                    transform: translate(-8.6rem, -8.8rem);
                }
            }
        }
    }
}