/* VARIABLES */

$dark-blue: #171E2F;
$portfolio-white: #F5F5F5;

$batatabit: #D68523;
$google-clone: #F5F5F5;
$platzi-video: #A860E0;
$blog: #96E8C5;

$main-font: 'Montserrat', sans-serif;
$projects-font: 'Source Sans Pro', sans-serif;



/* GLOBAL RULES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    min-width: 32rem;
    font-family: $main-font;
}



/* GENERIC CLASSES */

.section {
    position: relative;
    width: 100%;
    padding: 9rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem 1rem 0.5rem 0rem rgba(0, 0, 0, 0.25) inset;
    z-index: -1;
}
.section-heading {
    font-size: 2.8rem;
    font-weight: 700;
}
.center-text {
    text-align: center;
}
.section-decoration {
    width: 17rem;
    height: 17rem;
    position: absolute;
    bottom: calc(100% - 4.5rem);
    border-radius: 25rem;
    background-color: $dark-blue;
    box-shadow: 0rem 1rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
}
@mixin icon ($width, $height, $url) {
    display: inline-block;
    width: $width;
    height: $height;
    background-image: url($url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@mixin project-button ($bg-color, $color) {
    display: none;
    background-color: $bg-color;
    color: $color;
    font-size: 1.4rem;
    padding: 0.6rem 0.8rem;
    text-align: center;
    text-decoration: none;
    border-radius: 2.5rem;
}
.arrow-icon {
    @include icon(2rem, 1.6rem, "../assets/general/icons/orange-right-arrow.svg");
        margin-right: -0.3rem;
        margin-bottom: -0.3rem;
}


/* HEADER */

.header {
    padding-top: 4rem;
    position: static;
    box-shadow: none;
    background-color: $dark-blue;
    color: $portfolio-white;

    &__nav {
        width: 100%;
        margin-top: -1rem;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        text-align: end;
        label {
            cursor: pointer;
            display: inline-block;
            font-size: 2.2rem;
            margin-bottom: 1rem;
        }
        #toggle {
            display: none;
        }
        #toggle:checked + .menu {
            visibility: visible;
            opacity: 1;
        }
        .menu {
            opacity: 0;
            visibility: hidden;
            min-width: 28rem;
            position: absolute;
            left: calc(100% - 30rem);
            text-align: center;
            background-color: $dark-blue;
            transition-duration: 300ms;
            a {
                padding: 1rem;
                display: block;
                text-decoration: none;
                color: $portfolio-white;
                border: 0.1rem solid $portfolio-white;
                transition-duration: 300ms;
            }
            a:hover {
                background-color: $portfolio-white;
                color: $dark-blue;
            }
        }
        // .hamburger-icon {
        //     @include icon (2rem, 2rem, "../assets/general/hamburger-icon.png");
        // }
    }

    &__image-container {
        margin-bottom: 2.5rem;
        img {
            width: 75%;
        }
    }

    &__text-container {
        p {
            font-size: 1.8rem;
            margin-top: 2.5rem; 
        }
    }
}



/* ABOUT ME */

.about-me {
    &__heading-container {
        margin-bottom: 2.5rem;
    }

    &__image-container {
        margin-bottom: 2.5rem;
        img {
            width: 51.5%;
        }
    }
    &__text-container {
        p {
            font-size: 1.6rem;
            margin-top: 2.5rem;
        } 
    }
    &__text-container :first-child {
        font-weight: 600;
    }
}



/* PROJECTS */

.projects {
    z-index: 0;
    background-color: $dark-blue;
    color: $portfolio-white;

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 3.5rem;

        article {
            transition: all 380ms;
            min-width: 25rem;
            height: 18rem;
            padding-top: 0.7rem;
            padding-bottom: 1.1rem;
            margin-bottom: 3.5rem;
            border-radius: 2.5rem;
            font-family: $projects-font;
            opacity: 0.8;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
                display: none;
                font-size: 2.8rem;
            }
        }
        .batata-bit {
            background-color: $batatabit;
            h2 {
                margin-right: -2.5rem;
            }
            .batata-icon {
                @include icon(7rem, 4.2rem, "../assets/general/icons/batata.svg");
            }
            a {
                @include project-button ($portfolio-white, $dark-blue);
            }
        }
        .platzi-video {
            background-color: $platzi-video;
            .platzi-icon {
                @include icon(7rem, 7rem, "../assets/general/chico-logo-platzi-video-BW2.png");
            }
            a {
                @include project-button ($portfolio-white, $dark-blue);
            }
        }
        .generic-blog {
            background-color: $blog;
            h2 {
                margin-right: -4.5rem;
            }
            .blog-icon {
                @include icon(7rem, 7rem, "../assets/general/blog-icon.png");
                border-radius: 2.5rem;
            }
            a {
                @include project-button ($portfolio-white, $dark-blue);
            }
        }
        .google-clone {
            background-color: $google-clone;
            color: #535358;
            .google-icon {
                @include icon(7rem, 7.2rem, "../assets/general/google-icon.svg");
            }
            a {
                @include project-button (white, $dark-blue);
            }
        }


        /* TRANSITIONS */

        article:hover {
            opacity: 1;
            transform: scale(1.12);
            flex-direction: column;
            justify-content: space-between;
        }
        article:hover h2, article:hover a {
            display: inline-block;
        }


        .batata-bit:hover {
            background-image: url(../assets/general/img/bitcoinbaby.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition-duration: 550ms;
        }
        .batata-bit:hover .batata-icon {
            width: 13%;
            height: 11.8%;
            transform: translate(-6.7rem, -6.5rem);
            transition: all 600ms;
        }


        .generic-blog:hover {
            background-image: url(../projects/blog/assets/img/cover_909cd27f-8eb3-4e9a-9cae-c5549009f6b5.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition-duration: 550ms;
        }
        .generic-blog:hover .blog-icon {
            background-color: $portfolio-white;
            width: 13%;
            height: 20%;
            transform: translate(-7.7rem, -6.5rem);
            transition: all 600ms;
        }


        /* TRANSITIONS */


        
    }
}


/* MEDIA QUERIES */

@media only screen and (min-width: 600px) {
    .header {
        &__nav {
            display: flex;
            justify-content: center;
            #toggle:checked + .menu {
                visibility: visible;
                opacity: 1;
            }
            .menu {
                visibility: visible;
                opacity: 1;
                position: static;
                display: flex;
                justify-content: space-around;
                margin-bottom: 1rem;
                width: 100%;
                max-width: 80rem;
                a {
                    display: inline-block;
                    border: none;
                    border-radius: 0.5rem;
                }
            }
            label {
                display: none;
            }
        }
    }
}