@media (max-width: 800px) {


      /* HEADER */

      header .header__icons-section {
        justify-content: center;
    }
    .header__icons-section .header__icons-container {
        margin-right: 0;
        width: 20rem;
    }
    .nav__link-container a:hover {
        font-size: inherit;
    }



    /* CONTACT */

    .contact {
        padding-left: 3rem;
        padding-right: 3rem;
    }



    /* HOME */

    .home-main {
        display: block;
    }
    .main__text-container {
        padding: 7rem;
        padding-bottom: 5rem;
    }



    /* PROFILE */

    .about-me__container {
        flex-wrap: wrap;
    }
    .about-me__container img {
        width: 100%;
    }
    .profile-projects__container {
        grid-template-columns: 1fr 1fr;
    }
    .profile-projects {
        padding: 0 1.5rem 3rem;
    }
    



    /* BLOGS */

    .hero-blogpost__container {
        grid-template-columns: 1fr;
    }
    .hero-blogpost__right {
        padding-left: 0;
    }
    .blogpost-list__container {
        grid-template-columns: 1fr 1fr;
    }



    /* BLOG */

    .blog__text-container {
        padding: 0 3rem;
    }
}



@media (max-width: 520px) {

  
    /* FOOTER */

    footer {
        padding: 4rem 3rem;
    }



    /* CONTACT */

    .contact {
        padding: 1rem 3rem;
    }
    .contact__main-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .contact__left-container, .contact__right-container {
        padding: 0;
        margin: 1rem 0;
        width: 100%;
    }



    /* HOME */

    .main__text-container {
        font-size: 1.7rem;
    }



    /* PROFILE */

    .profile-projects__container {
        grid-template-columns: 1fr;
    }



    /* BLOGS */

    .blogpost-list__container {
        grid-template-columns: 1fr;
    }
}